/* Fonts set */
/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'lato-reg';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'lato-bold';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Colors */
/* Basic settings */
body {
  font-family: 'lato-reg';
  font-size: 16px;
}
/* Header */
.header-content {
  font-size: 18px;
}
.header-logo {
  margin-top: 56px;
}
.header-nav {
  margin-top: 56px;
}
.header-nav li {
  display: inline-block;
  margin-left: 10%;
}
.header-nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.header-nav a:after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-nav a:hover:after,
.header-nav a:focus:after {
  width: 100%;
}
.main-page {
  height: 962px;
  background: #070707 url('../images/main-bcg.jpg') center center no-repeat;
  background-size: cover;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
}
.main-page h1 {
  margin-top: 263px;
  width: 619px;
  font-size: 50px;
}
.main-page p {
  width: 546px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.main-page .main-content-form {
  width: 171px;
  height: 58px;
  display: inline;
}
.main-page .main-content-form select {
  margin-right: 60px;
  padding: 22px;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
}
.main-page .main-content-form option {
  background-color: #006DFE;
}
.main-page .main-content-form button {
  width: 171px;
  height: 58px;
  background-color: #006DFE;
  color: #fff;
  box-shadow: 0px 0px 5px #000000;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
}
.main-page .main-content-form button:hover {
  background-color: #024bac;
}
.benefits {
  margin-top: -150px;
}
.benefits-cards {
  padding: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}
.benefits-cards h2 {
  margin-bottom: 120px;
  text-align: left;
  font-size: 35px;
}
.benefits-cards-content {
  display: inline-flex;
}
.benefits-cards-content .col {
  width: 33%;
  text-align: left;
}
.benefits-cards-content-item {
  width: 300px;
  margin: 0 auto;
}
.benefits-cards-content-item h5 {
  margin-top: 37px;
  margin-bottom: 26px;
}
.benefits-cards-content-item p {
  font-size: 16px;
}
.benefits-cards-content-item button {
  margin-top: 39px;
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  color: #006DFE;
  border: none;
}
.benefits-cards-content-item .arrow {
  margin: 0;
  margin-left: 30px;
}
.inspiration {
  margin: 130px 0;
}
.inspiration h2 {
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 500;
}
.inspiration h2:after {
  content: '';
  width: 250px;
  margin-top: 10px;
  display: block;
  height: 3px;
  background: #006DFE;
}
.inspiration button {
  padding: 0;
  float: right;
  font-size: 16px;
  color: #006DFE;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
}
.inspiration .arrow {
  margin-left: 25px;
}
.inspiration-photo-block {
  display: grid;
  grid-template-columns: repeat(6, 207.7px);
  grid-template-rows: 354px 283px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.inspiration-photo-block h4 {
  margin: 27px 30px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
}
.inspiration-photo-block .mask {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  transition: 0.3s;
}
.inspiration-photo-block-fuji {
  grid-area: 1 / 1 / 2 / 4;
  position: relative;
  z-index: 1;
  background: #070707 url('../images/inspo/mount-fuji.jpg') center center no-repeat;
  background-size: cover;
}
.inspiration-photo-block-fuji:hover .mask {
  opacity: 0;
}
.inspiration-photo-block-kyoto {
  grid-area: 1 / 4 / 2 / 7;
  position: relative;
  z-index: 1;
  background: #070707 url('../images/inspo/kyoto.jpg') center center no-repeat;
  background-size: cover;
}
.inspiration-photo-block-kyoto:hover .mask {
  opacity: 0;
}
.inspiration-photo-block-tokyo {
  grid-area: 2 / 1 / 3 / 3;
  position: relative;
  z-index: 1;
  background: #070707 url('../images/inspo/tokyo.jpg') center center no-repeat;
  background-size: cover;
}
.inspiration-photo-block-tokyo:hover .mask {
  opacity: 0;
}
.inspiration-photo-block-niigata {
  grid-area: 2 / 3 / 3 / 5;
  position: relative;
  z-index: 1;
  background: #070707 url('../images/inspo/niigata.jpg') center center no-repeat;
  background-size: cover;
}
.inspiration-photo-block-niigata:hover .mask {
  opacity: 0;
}
.inspiration-photo-block-sapporo {
  grid-area: 2 / 5 / 3 / 7;
  position: relative;
  z-index: 1;
  background: #070707 url('../images/inspo/sapporo.jpg') center center no-repeat;
  background-size: cover;
}
.inspiration-photo-block-sapporo:hover .mask {
  opacity: 0;
}
.articles {
  margin: 140px 0;
  color: #102746;
}
.articles-first-block {
  margin-bottom: 100px;
}
.articles-first-block h3 {
  margin-bottom: 80px;
}
.articles-second-block h3 {
  margin-bottom: 40px;
}
.articles .txt-block {
  text-align: left;
}
.articles .txt-block h3 {
  margin-top: 30px;
  width: 360px;
  font-size: 30px;
  font-weight: 500;
}
.articles .txt-block p {
  width: 520px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
}
.articles .txt-block button {
  padding: 0;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
  color: #006DFE;
  border: none;
}
.articles .txt-block .arrow {
  margin: 0;
  margin-left: 30px;
}
.top-places h2 {
  margin-bottom: 64px;
  font-size: 35px;
  font-weight: 500;
  color: #102746;
}
.top-places h2:after {
  content: '';
  width: 250px;
  margin-top: 10px;
  display: block;
  height: 3px;
  background: #006DFE;
}
.top-places-block-first {
  margin-bottom: 70px;
}
.top-places-block-second {
  margin-bottom: 150px;
}
.top-places-img img {
  position: relative;
  z-index: 0;
}
.top-places-img ul {
  width: 386px;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-top: 318px;
  z-index: 1;
  background: rgba(21, 24, 36, 0.6);
  color: #fff;
  text-shadow: 0px 0px 5px #000000;
}
.top-places-img h5 {
  display: inline-block;
  padding: 15px 25px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.top-places-img li {
  display: inline-flex;
  float: right;
  margin: 16px 0;
}
.top-places-img a {
  color: #fff;
  text-decoration: none;
}
.top-places-img .like,
.top-places-img .comment {
  margin-right: 15px;
}
.top-places-img .like img,
.top-places-img .comment img {
  transition: 0.2s;
}
.top-places-img .like:hover img,
.top-places-img .comment:hover img {
  opacity: 30%;
}
.top-places p {
  width: 386px;
  margin: 40px 0 30px 0;
  text-align: justify;
}
.top-places button {
  width: 120px;
  height: 40px;
  background-color: #006DFE;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
}
.top-places button:hover {
  background-color: #024bac;
}
.video {
  height: 609px;
  background: #070707 url('../images/video-bcg.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}
.video img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.video a img {
  transition: 0.5s;
}
.video a img:hover {
  opacity: 60%;
}
.footer {
  padding: 120px 0;
  text-align: left;
  background-color: #0E1D28;
  color: #fff;
}
.footer h5 {
  font-size: 18px;
}
.footer a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.footer a:hover {
  color: #bbbaba;
}
.footer ul {
  padding: 0;
  list-style: none;
}
@media (max-width: 1400px) {
  .benefits {
    margin-top: -80px;
  }
  .benefits-cards-content-item {
    width: 280px;
  }
  .inspiration-photo-block {
    grid-template-columns: repeat(6, 177.7px);
  }
  .top-places-block-first {
    margin-bottom: 70px;
  }
  .top-places-block-second {
    margin-bottom: 150px;
  }
  .top-places-img img {
    position: relative;
    z-index: 0;
  }
  .top-places-img ul {
    width: 386px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 318px;
    z-index: 1;
    background: rgba(21, 24, 36, 0.6);
    color: #fff;
    text-shadow: 0px 0px 5px #000000;
  }
  .top-places-img h5 {
    display: inline-block;
    padding: 15px 25px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .top-places-img li {
    display: inline-flex;
    float: right;
    margin: 16px 0;
  }
  .top-places-img a {
    color: #fff;
    text-decoration: none;
  }
  .top-places-img .like,
  .top-places-img .comment {
    margin-right: 15px;
  }
  .top-places-img .like img,
  .top-places-img .comment img {
    transition: 0.2s;
  }
  .top-places-img .like:hover img,
  .top-places-img .comment:hover img {
    opacity: 30%;
  }
  .top-places p {
    width: 386px;
    margin: 40px 0 30px 0;
    text-align: justify;
  }
  .top-places button {
    width: 120px;
    height: 40px;
    background-color: #006DFE;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    transition: 0.3s;
  }
  .top-places button:hover {
    background-color: #024bac;
  }
}
@media (max-width: 1200px) {
  .benefits-cards-content-item {
    width: 220px;
  }
  .inspiration-photo-block {
    grid-template-columns: repeat(6, 147.7px);
  }
  .articles {
    margin: 140px 0;
    color: #102746;
  }
  .articles-first-block {
    margin-bottom: 100px;
  }
  .articles-first-block h3 {
    margin-bottom: 40px;
  }
  .articles-second-block h3 {
    margin-bottom: 40px;
  }
  .articles .txt-block h3 {
    margin-top: 10px;
    width: auto;
  }
  .articles .txt-block p {
    margin-bottom: 40px;
    width: auto;
    text-align: justify;
  }
}
@media (max-width: 991px) {
  .benefits-cards {
    padding: 50px;
  }
  .benefits-cards h2 {
    margin-bottom: 50px;
  }
  .benefits-cards-content {
    display: flex;
    flex-direction: column;
  }
  .benefits-cards-content .col {
    width: 100%;
  }
  .benefits-cards-content-item {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .benefits-cards-content-item button {
    margin-top: 10px;
  }
  .inspiration h2 {
    font-size: 30px;
  }
  .inspiration-photo-block {
    display: grid;
    grid-template-columns: repeat(6, 107.6px);
    grid-template-rows: 254px 220px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .inspiration-photo-block h4 {
    margin: 10px 20px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .main-page h1 {
    width: 550px;
    font-size: 48px;
  }
  .inspiration-photo-block {
    display: grid;
    grid-template-columns: 514px;
    grid-template-rows: repeat(2, 324px);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .inspiration-photo-block h4 {
    font-size: 50px;
  }
  .inspiration-photo-block-fuji {
    grid-area: 1 / 1 / 2 / 4;
  }
  .inspiration-photo-block-kyoto {
    grid-area: 2 / 1 / 3 / 3;
  }
  .inspiration-photo-block-tokyo,
  .inspiration-photo-block-niigata,
  .inspiration-photo-block-sapporo {
    display: none;
  }
  .top-places-block-first,
  .top-places-block-second {
    margin: 0;
  }
  .top-places .col {
    text-align: center;
    margin-bottom: 30px;
  }
  .top-places-img ul {
    margin-top: 321px;
    margin-left: 65px;
  }
  .top-places-img h5 {
    position: absolute;
    left: 0;
  }
  .top-places p {
    width: 386px;
    margin: 10px 0 10px 65px;
    text-align: justify;
  }
  .top-places button {
    float: right;
    margin-right: 64px;
  }
}
