body {
  background: url('../videos/video-3.mp4');
  background-size: cover;
}
.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.timer {
  padding: 20px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
#seconds {
  font-size: 100px;
}
.label {
  font-size: 0.8em;
  color: #ffffff;
}
@media (max-width: 991px) {
  .timer {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .timer {
    font-size: 28px;
  }
  #seconds {
    font-size: 50px;
  }
}
